@{
    ViewBag.Title = "Home Page";
}

<div class="table-responsive">
    <h1> Hệ Thống Phòng Trọ Sinh Viên </h1>
    <br />
    <h2> Cam Kết Hài Lòng Người Sử Dụng</h2>
    <br />
    <h2> Nhấp vào Tiện Ích để bắt đầu ĐẶT PHÒNG</h2>
</div>

<div class="row" style="background-image: url('../../Content/imagine/a.jpg'); width:1000px; height:700px">

    
</div>


